<div class='uk-width-2-3@m'>
    <div ng-controller="modList" class="uk-card uk-card-default uk-height-large uk-card-body uk-text-center"
         style="height: 40em;">
        <h3 class="uk-heading-divider">Mod List</h3>
        <div class="server-mod-list uk-text-center uk-overflow-auto uk-panel-scrollable uk-height-large">
            <table class="uk-table uk-table-striped uk-table-small">
                <thead>
                <tr>
                    <th class="uk-text-left">Mod ID</th>
                    <th class="uk-text-left uk-visible@m">Mod Name</th>
                    <th class="uk-text-left uk-visible@m">Mod Version</th>
                    <th class="uk-text-left">Last Updated</th>
                </tr>
                </thead>
                <tbody>
                <!--mod in mods-->
                <!--<tr class='uk-text-left' ng-repeat="let mod in mods">-->
                <tr class='uk-text-left' ng-repeat="mod in mods">
                    <td>
                        <a ng-if="mod.id != 0000000" target='_blank'
                           ng-href="https://steamcommunity.com/sharedfiles/filedetails/?id={{ mod.id }}">
                            {{ mod.id }}
                        </a>
                        <p ng-if="mod.id == 0000000">
                            {{ mod.id }}
                        </p>
                    </td>
                    <td class='uk-visible@m'>{{ mod.name }}</td>
                    <td ng-if="mod.version == 'TW9kIE5vdCBUcmFja2VkIFlldA=='">Not Yet Tracked</td>
                    <td class='uk-visible@m' ng-if="mod.version != 'TW9kIE5vdCBUcmFja2VkIFlldA=='">{{ mod.version |
                        limitTo:10 }}
                    </td>
                    <td>{{ mod.last_updated }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="uk-margin-small-top uk-align-right">
            <button uk-toggle="target: #install-mod" type="button" class="uk-button uk-button-primary">Install Mod
            </button>

            <!-- This is the modal -->
            <div id="install-mod" uk-modal>
                <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body">
                    <h2 class="uk-modal-title">Installing a Mod to your Server</h2>
                    <ul class="uk-list">
                        <li>1) Find a mod on the Steam Workshop you'd like to install.</li>
                        <li>2) Observe the url and copy the mod id as seen below:<br>
                            <img class="uk-responsive uk-responsive-width" src="images/steam_url_with_mod_id.png" alt="">
                        </li>
                        <li>3) Paste the Mod ID in the input field below and click Install Mod<br>
                            <input class="uk-input" name="mod_id" type="text" min="0" max="99" numbers-only="" ng-model="mod_id" placeholder="MOD ID">
                        </li>
                    </ul>
                    <div class="uk-align-right">
                        <button class="uk-modal-close uk-button uk-button-small uk-button-primary" type="button" ng-click="installMod()">Install Mod</button>
                        <button class="uk-modal-close uk-button uk-button-small uk-button-danger" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

