<div class='uk-width-2-3@m'>
    <div ng-controller="playerList" class="uk-card uk-card-default uk-height-large uk-card-body uk-text-center"
         style="height: 40em;">
        <h3 class="uk-heading-divider">Player List</h3>
        <div class="server-mod-list uk-text-center uk-overflow-auto uk-panel-scrollable uk-height-large">
            <table class="uk-table uk-table-striped uk-table-small">
                <thead>
                <tr>
                    <th class="uk-text-left">Player Name</th>
                    <th class="uk-text-left">Steam ID</th>
                    <th class="uk-text-left uk-visible@m">Player ID</th>
                </tr>
                </thead>
                <tbody>
                <!--mod in mods-->
                <!--<tr class='uk-text-left' ng-repeat="let mod in mods">-->
                <tr class='uk-text-left' ng-repeat="player in players">
                    <td>{{ player.name }}</td>
                    <td>{{ player.steam_id }}</td>
                    <td>{{ player.player_id }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

