!!!
%html{:dir => "ltr", :lang => "en-us"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Ark Server Manager
    %link{:href => 'https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.16/css/uikit.min.css', :rel => "stylesheet"}/
    %link{:href => 'https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.4.2/sweetalert2.min.css', :rel => "stylesheet"}/
    %script{:crossorigin => 'anonymous', :integrity => "sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", :src => "https://code.jquery.com/jquery-3.1.1.min.js"}
    %script{:src => 'https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.12/js/uikit.min.js'}
    %script{:src => 'https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.4.2/sweetalert2.min.js'}
    %script{src: 'javascript/index.js'}
  %body
    .uk-container.uk-container-center.uk-margin-top.uk-margin-large-bottom
      %h1.uk-heading-divider{:style => "padding-top: 1em;"} Ark Server Manager
      .uk-grid.uk-grid-small{"uk-grid" => "", "uk-grid-margin" => ""}
        %div{:class => "uk-width-1-3@m"}
          .uk-card.uk-card-default.uk-card-body.uk-text-center.uk-height-large
            %h3.uk-heading-divider Server Actions
            %div{class: 'uk-flex uk-flex-column'}
              %div
                %button.uk-button.uk-button-primary.uk-button-large{:style => "width: 95%;", 'data-cmd': 'start_server', onclick:'run_command(this);'} Start
              %div{:style => "padding-top: 1em;"}
                %button.uk-button.uk-button-danger.uk-button-large{:style => "width: 95%;", 'data-cmd': 'stop_server', onclick:'run_command(this);'} Stop
              %div{:style => "padding-top: 1em;"}
                %button.uk-button.uk-button-secondary.uk-button-large{'data-cmd': 'run_reboot_and_update', onclick: 'run_reboot_and_update(this);', style: 'width: 95%;', :title => "This will backup, update server, update mods, then restart. With Safe Update and Restart checked this will take 30 minutes", "uk-button" => "", "uk-tooltip" => ""} Update/Restart
              %div{:style => "padding-top: 1em;"}
                %p.uk-text-small.uk-text-left.uk-text-warning Uncheck below to trigger an immediate reboot/update.
                %label Safe Update and Restart:
                %input#runUpdateAndRebootSafely.uk-checkbox{:checked => "checked", :style => "padding-right: 3em", :type => "checkbox", :value => "Safe Update and Restart"}/
        %div{:class => "uk-width-1-3@m"}
          .uk-card.uk-card-default.uk-card-body.uk-text-center.uk-height-large
            %h3.uk-heading-divider Server Status
            %div.server-status-info
              .uk-alert.uk-alert-warning
                %p The Status for your server will be loaded shortly.
        %div{:class => "uk-width-1-3@m"}
          .uk-card.uk-card-default.uk-card-body.uk-text-center.uk-height-large
            %h3.uk-heading-divider Server Schedules
            %p These are schedules that can be toggled, if you uncheck these they will be disabled. However, they are required for the server to persist in an automated state.
            %div{:style => "padding-top: 1em;", "uk-button-group" => ""}
              %label{class: 'uk-width-expanded'} Automatically start if stopped?
              %input#automaticStartServer.uk-checkbox{class: 'uk-width-1-4', :name => "AutomaticStartServer", :type => "checkbox", :value => "Safe Update and Restart", title: 'When this is enabled it runs a schedule to check for mod updates and will update the server accordingly', "uk-tooltip" => ""}/
            %div{:style => "padding-top: 1em;", "uk-button-group" => ""}
              %label{class: 'uk-width-expanded'} Run Mod Check Schedule?
              %input#modUpdateCheckSchedule.uk-checkbox{class: 'uk-width-1-4', :name => "RunUpdateAndRebootSafely", :type => "checkbox", :value => "Safe Update and Restart", title: 'When this is enabled it runs a schedule to check for mod updates and will update the server accordingly', "uk-tooltip" => ""}/
            %div{:style => "padding-top: 1em;", "uk-button-group" => ""}
              %label{class: 'uk-width-expanded'} Run Server Version Check?
              %input#serverUpdateCheckSchedule.uk-checkbox{class: 'uk-width-1-4', :name => "RunUpdateAndRebootSafely", :style => "padding-right: 3em", :type => "checkbox", :value => "Safe Update and Restart", title: 'When this is enabled it runs a schedule to check for any ark updates and will update the server accordingly', "uk-tooltip" => ""}/
        %div{:class => 'uk-width-1-2'}
          .uk-card.uk-card-default.uk-height-large.uk-card-body.uk-text-center
            %h3.uk-heading-divider Mod List
            %div.server-mod-list.uk-text-center.uk-overflow-auto
              .uk-alert.uk-alert-warning
                %p Please wait we are reading your mod list. It will be available shortly
      -#.uk-grid.uk-text-center{"uk-grid" => "", "uk-grid-margin" => "", "uk-sortable" => ""}
      -#  %div{:class => "uk-width-expand@m"}
      -#    .uk-card.uk-card-default.uk-card-body.uk-text-left
      -#      .uk-panel
      -#        %h4.uk-align-left Server Chat
      -#        .uk-align-right
      -#          %label Auto Scroll:
      -#          %input.uk-checkbox{:checked => "checked", :name => "AutoScrollServerChat", :type => "checkbox", :value => ""}/
      -#        %br/
      -#      #ServerChat.uk-panel.uk-panel-scrollable.uk-height-medium
      -#        %table.uk-table
      -#          %thead
      -#            %tr
      -#              %th.uk-table-small
      -#              %th.uk-table-expand
      -#          %tbody
      -#            %tr
      -#              %td User 1
      -#              %td Table Data
      -#            %tr
      -#              %td User 2
      -#              %td Table Data
      -#            %tr
      -#              %td User 3
      -#              %td Table Data
      -#            %tr
      -#              %td User 4
      -#              %td Table Data
      -#            %tr
      -#              %td User 5
      -#              %td Table Data
      -#            %tr
      -#              %td User 6
      -#              %td Table Data
      -#            %tr
      -#              %td User 7
      -#              %td Table Data
      -#      .uk-panel{:style => "padding-top: 1em;"}
      -#        %form.uk-form-horizontal{"accept-charset" => "utf-8", :action => "layouts_frontpage_submit", :method => "post"}
      -#          %input.uk-input{:class => "uk-width-3-4@m", :name => "", :placeholder => "", :type => "text", :value => ""}/
      -#          %button.uk-button.uk-button-secondary{:class => "uk-width-auto@m", :title => "Send a message to server", "uk-tooltip" => ""} Send
  / https://jsfiddle.net/b0h2ykud/
  %footer
