%div{:class => "uk-width-1-3@m"}
  .uk-card.uk-card-default.uk-card-body.uk-text-center.uk-height-large
    %h3.uk-heading-divider Server Schedules
    %p These are schedules that can be toggled, if you uncheck these they will be disabled. However, they are required for the server to persist in an automated state.
    %div{:style => "padding-top: 1em;", "uk-button-group" => ""}
      %label{class: 'uk-width-expanded'} Automatically start if stopped?
      %input#automaticStartServer.uk-checkbox{class: 'uk-width-1-4', :name => "AutomaticStartServer", :type => "checkbox", :value => "Safe Update and Restart", title: 'When this is enabled it runs a schedule to check for mod updates and will update the server accordingly', "uk-tooltip" => ""}/
    %div{:style => "padding-top: 1em;", "uk-button-group" => ""}
      %label{class: 'uk-width-expanded'} Run Mod Check Schedule?
      %input#modUpdateCheckSchedule.uk-checkbox{class: 'uk-width-1-4', :name => "RunUpdateAndRebootSafely", :type => "checkbox", :value => "Safe Update and Restart", title: 'When this is enabled it runs a schedule to check for mod updates and will update the server accordingly', "uk-tooltip" => ""}/
    %div{:style => "padding-top: 1em;", "uk-button-group" => ""}
      %label{class: 'uk-width-expanded'} Run Server Version Check?
      %input#serverUpdateCheckSchedule.uk-checkbox{class: 'uk-width-1-4', :name => "RunUpdateAndRebootSafely", :style => "padding-right: 3em", :type => "checkbox", :value => "Safe Update and Restart", title: 'When this is enabled it runs a schedule to check for any ark updates and will update the server accordingly', "uk-tooltip" => ""}/