%div{:class => "uk-width-1-3@m"}
  .uk-card.uk-card-default.uk-card-body.uk-text-center.uk-height-large
    %h3.uk-heading-divider Server Actions
    %div{class: 'uk-flex uk-flex-column'}
      %div
        %button.uk-button.uk-button-primary.uk-button-large{:style => "width: 95%;", 'data-cmd': 'start_server', onclick:'run_command(this);'} Start
      %div{:style => "padding-top: 1em;"}
        %button.uk-button.uk-button-danger.uk-button-large{:style => "width: 95%;", 'data-cmd': 'stop_server', onclick:'run_command(this);'} Stop
      %div{:style => "padding-top: 1em;"}
        %button.uk-button.uk-button-secondary.uk-button-large{'data-cmd': 'run_reboot_and_update', onclick: 'run_reboot_and_update(this);', style: 'width: 95%;', :title => "This will backup, update server, update mods, then restart. With Safe Update and Restart checked this will take 30 minutes", "uk-button" => "", "uk-tooltip" => ""} Update/Restart
      %div{:style => "padding-top: 1em;"}
        %p.uk-text-small.uk-text-left.uk-text-warning Uncheck below to trigger an immediate reboot/update.
        %label Safe Update and Restart:
        %input#runUpdateAndRebootSafely.uk-checkbox{:checked => "checked", :style => "padding-right: 3em", :type => "checkbox", :value => "Safe Update and Restart"}/