%div{:class => "uk-width-1-3@m"}
  .uk-card.uk-card-default.uk-card-body.uk-text-center.uk-height-large
    %h3.uk-heading-divider Server Status
    %div.server-status-info
      .uk-alert.uk-alert-warning
        %p The Status for your server will be loaded shortly.